extends layout

block content
  
    h1 #{carbody.name}

    p #{carbody.description}

    hr
    p 
      a(href=carbody.url+'/delete') Delete Car Body
    p 
      a(href=carbody.url+'/update') Update Car Body