extends layout

block content
  

  h1 #{title}

  form.form-control(method='POST' action='')
    label(for='name') Car Body Type: 
    input(type='text', placeholder='Sedan, Convertible, Supercar, etc.' name='name' value=(undefined===carbody? '': carbody.name))
    label(for='description') Description: 
    textarea(type='textarea', placeholder='Descript the car body type' name='description' value=(undefined===carbody? '' : carbody.description))
    button(type='submit') Submit
  
  if errors 
    ul 
      for error in errors 
        li!= error.msg 