doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    div.container-main
      div.sidenav-fixed
        block sidenav
          ul 
            li 
              a(href='/catalog') Home
            li 
              a(href='/catalog/cars') Cars
            li 
              a(href='/catalog/brands') Brands
            li 
              a(href='/catalog/manufacturers') Manufacturers
            li 
              a(href='/catalog/carbodies') Car Body Types
            li 
              a(href='/catalog/carinstances') Car Instances
            li
          ul 
            li 
              a(href='/catalog/car/create') Add new car
            li 
              a(href='/catalog/brand/create') Add new brand
            li 
              a(href='/catalog/manufacturer/create') Add new manufacturer
            li 
              a(href='/catalog/carbody/create') Add new car body type
            li 
              a(href='/catalog/carinstance/create') Add new car instance

      div.container-content
        block content

  
    