$main-color: rgb(255, 166, 0);
$secondary-color: blue;

body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(255, 250, 250);
}

a {
  color: $main-color;
}

hr {
  color: transparent;
}

.container-main {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidenav-fixed {
  background-color: rgb(255, 255, 255);
  li {
    margin: 20px;
    list-style: none;
  }
}

.container-content {
  li {
    margin-top: 25px;
  }
  a {
    color: blue;
  }
}
