$main-color: orange;
$secondary-color: blue;

body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(255, 250, 250);
}

a {
  color: #00b7ff;
}

p {
  color: $main-color;
}

li {
  list-style: none;
}

hr {
  color: transparent;
}

.container-main {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidenav-fixed {
  background-color: rgb(255, 255, 255);
  li {
    margin: 20px;
  }
}

.container-content {
}
