$main-color: rgb(255, 123, 0);
$secondary-color: blue;

body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(255, 250, 250);
}

a {
  color: $main-color;
}

hr {
  color: transparent;
}

.container-main {
  width: 100%;
  height: 100%;
  display: flex;
}

.sidenav-fixed {
  background-color: rgb(255, 255, 255);
  li {
    margin-top: 20px;
    list-style: none;
  }
}

.container-content {
  li {
    margin-top: 25px;
  }
  a {
    color: blue;
    text-decoration: none;
  }
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.text-warning {
  color: yellow;
}

.text-reserved {
  color: grey;
}

.text-sold {
  color: black;
}
